The energy label for professional refrigerated storage cabinets
This label provides information about the energy efficiency of the declared appliances. When buying a new appliance, it is not only the purchase price that counts, but also the associated long-term electricity costs. With this label it is possible to identify the most energy-efficient models at a glance.
In addition to the level of energy consumption, the label also indicates the net volumes of the chilled compartments and the climate class.
Documents
Fact sheet
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Links
EPREL – European Product Registry for Energy Labelling
Templates for Energy labels
Law
Article 89 of the Swiss Federal Constitution - Energy policy (in German)
Article 44 of the Swiss Federal Energy Act (in German)
Federal Energy Efficiency Ordinance dated 1st November 2017 (EnEV) (in German)
Detailed requirements
Swiss Federal Energy Efficiency Ordinance, Appendix 1.14 (in German)
In this appendix, the minimum requirements are also specified for the energy efficiency of blast cabinets, condensing units and process chillers.
Commission Delegated Regulation (EU) No 2015/1094 of 5 may 2015
Commission Regulation (EU) No 2015/1095 of 5 may 2015
Specialist staff

				



Last modification 15.05.2020