Requirements for water heaters and hot water storage tanks
The energy label for hot water storage appliances with a maximum rated thermal output of 70 kW and for water heaters with a maximum storage capacity of 500 litres was introduced in the EU in September 2015 and was declared mandatory in Switzerland on 1 August 2016.
With this label it is possible to readily check the efficiency of different types of water heaters and hot water storage appliances. It also defines the applicable energy requirements for the various appliances. In some cases Switzerland implements more stringent requirements than the EU.
The energy efficiency of water heaters and hot water storage appliances is to a large extent influenced by proper installation, and correct operation and maintenance.
Documents
Fact sheet
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Reports
Links
Further information on purchase and use: SwissEnergy (in German)
European Council for an Energy Efficient Economy
EuP Network
Die Solarprofis
Wärmepumpen-System-Modul
Gebäudeenergieausweis der Kantone (GEAK)
Templates for Energy labels
Law
Article 89 of the Swiss Federal Constitution - Energy policy (in German)
Article 44 of the Swiss Federal Energy Act (in German)
Federal Energy Efficiency Ordinance dated 1st November 2017 (EnEV) (in German)
Detailed requirements
Swiss Federal Energy Efficiency Ordinance, Appendix 1.15 (in German)
Delegated Regulation (EU) no 812/2013
Regulation (EU) no 814/2013
Specialist staff

				



Last modification 24.01.2023