The energy label for electronic displays
It is now possible to identify the energy consumption of an electronic display at a glance: the energy label contains a scale indicating the efficiency categories, green = highest efficiency, red = lowest efficiency.
In Switzerland, all electronic displays for sale are required to display this label.
In addition to the energy consumption in kilowatt-hours during 1000 hours, this label also declares the screen diagonal as well as the efficiency class and the energy consumption when reproducing High Dynamic Range content.
In addition, specific requirements apply to power consumption in standby and off mode.
Documents
Revision of the Federal Energy Efficiency Ordinance
Fact sheet
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Links
EnergieSchweiz - Informationen zum Kauf und zur Nutzung
Templates for Energy labels
Law
Bundesverfassung Artikel 89 Energiepolitik
Artikel 44 des Energiegesetzes (EnG)
Energieeffizienzverordnung vom 1. November 2017 (EnEV)
Detailed requirements
Energieeffizienzverordnung (EnEV), Anhang 1.12
Commission Regulation (EU) 2019/2021 of 1 October 2019
Commission Delegated Regulation (EU) 2019/2013 of 11 March 2019
Specialist staff

				



Last modification 01.03.2021