The energy label for bathroom products
This label indicates whether shower heads, fittings and water-saving attachments are energy-efficient by classifying them in categories from A (high level of efficiency) to G (low level of efficiency). The aim with this label is to increase people's awareness of the need to use hot water more sparingly. This benefits the environment and also reduces costs. The production of hot water requires a great deal of energy – in a modern house or apartment, often more than is required for room heating.
Swiss Association for Energy-Efficient Sanitary Products SVES
The “Schweizerischer Verband für energieeffiziente Sanitärprodukte SVES” (Swiss Association for Energy-Efficient Sanitary Products) took over in 2016 the responsibility for the energy label regarding bathroom products in Switzerland.
Documents
Links
EnergieSchweiz - Informationen zum Kauf und zur Nutzung
Swiss Association for Energy-Efficient Sanitary Products SVES
Warmwater Campaign of SwissEnergy (in German)
Sanitary database
Specialist staff

				



Last modification 15.05.2020