The energy label for room air conditioners
This label provides information about the energy efficiency of the declared appliances. When we buy a new small air conditioner, it is not only the purchase price that counts, but also the associated long-term electricity costs. With this label it is possible to identify the most energy-efficient models at  a glance.
The benefits of small air conditioners vary enormously. Cheap models are often practically ineffective, since they release warm air into the room – and some models are also very noisy. Instead of buying such appliances, there are other simple ways of keeping cool during periods of hot weather: shading windows, turning off unused appliances and lights (sources of heat!), airing rooms thoroughly in the morning, then keeping the windows closed. Ventilators are relatively inexpensive and consume less energy than air conditioning units, and they keep the air flowing and thus help cool the room.
Documents
Fact sheet
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Links
EnergieSchweiz - Informationen zum Kauf und zur Nutzung
Templates for Energy labels
Law
Article 89 of the Swiss Federal Constitution - Energy policy (in German)
Article 44 of the Swiss Federal Energy Act (in German)
Federal Energy Efficiency Ordinance dated 1st November 2017 (EnEV) (in German)
Detailed requirements
Swiss Federal Energy Efficiency Ordinance, Appendix 1.13 (in German)
Commission Regulation (EU) No 206/2012 of 6 March 2012
Commission Delegated Regulation (EU) No. 626/2011 of 4 May 2011
Specialist staff

				



Last modification 15.05.2020