Vacuum cleaner
In Switzerland, for vacuum cleaners the same efficiency requirements apply as those in effect in the EU. The maximum permissible power of vacuum cleaners is 900 watts and their annual electricity consumption with average use may not exceed 43 kilowatt hours (kWh).
The provisional energy label for vacuum cleaners is no longer valid.
18.1.2019: The General Court of the European Union has annulled the Delegated Regulation (EU) 665/2013 on the energy labelling on vacuum cleaners. The provisions of the Swiss Energy Efficiency Regulation (EnEV), Annex 1.8, Section 4 are no longer legally binding.
Manufacturers and distributors are therefore allowed to place their vacuum cleaners on the market and sell them without an energy label. However, existing energy labels do not have to be removed.
Documents
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Links
SFOE-Blog energeiaplus dated 21 January 2019
Law
Article 89 of the Swiss Federal Constitution - Energy policy (in German)
Article 44 of the Swiss Federal Energy Act (in German)
Federal Energy Efficiency Ordinance dated 1st November 2017 (EnEV) (in German)
Detailed requirements
Swiss Federal Energy Efficiency Ordinance, Appendix 1.8 (in German)
Commission Regulation (EU) No. 666/2013 of 8 July 2013
Specialist staff

				



Last modification 02.06.2020