Requirements for space and combination heaters
The energy label for space and combination heaters with a rated heat output of 70 kW or less provides information on the energy efficiency, the rated heat output and the sound power level of the appliances declared with it.
Minimum requirements apply to space and combination heaters with a rated heat output of 400 kW or less.
The energy efficiency of space and combination heaters is to a large extent influenced by a proper installation, correct operation and maintenance.
New: Electric boiler space and combination heaters will disappear from the Swiss market. The Federal Council has adopted stricter minimum requirements for these appliances than the EU, thus banning the latter technology. The new requirements apply as of 1 January 2024.
Documents
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Reports
Links
Further information on purchase and use: SwissEnergy (in German)
European Council for an Energy Efficient Economy
EuP Network
Die Solarprofis
Wärmepumpen-System-Modul
Gebäudeenergieausweis der Kantone (GEAK)
Templates for Energy labels
Law
Article 89 of the Swiss Federal Constitution - Energy policy (in German)
Article 44 of the Swiss Federal Energy Act (in German)
Federal Energy Efficiency Ordinance dated 1st November 2017 (EnEV) (in German)
Detailed requirements for room heating and combination heating appliances
Energieeffizienzverordnung (EnEV), Anhang 1.16
Commission Regulation (EU) No 813/2013 of 2 August 2013
Commission Delegated Regulation (EU) No 811/2013 of 18 February 2013
Detailed requirements for solid fuel boilers
Energieeffizienzverordnung (EnEV), Anhang 1.20
Commission Regulation (EU) 2015/1189 of 28 April 2015
Commission Delegated Regulation (EU) 2015/1187 of 27 April 2015
Specialist staff

				



Last modification 24.01.2023