Requirements for commercial dishwashers
The Federal Council has decided on a declaration obligation for commercial dishwashers and thus improves transparency for the trade. As of 1 January 2024, the energy and water consumption as well as the cleaning performance must be stated in the technical documentation and on a freely accessible website in accordance with the European standard EN IEC 63136:2019. There is no energy label for commercial dishwashers.
Switzerland is taking a pioneering role here, as there are currently no legal requirements for commercial dishwashers in the EU. Should the European Commission adopt requirements, then Switzerland will strive for harmonisation.
Documents
Fact sheet
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Law
Bundesverfassung Artikel 89 Energiepolitik
Artikel 44 des Energiegesetzes (EnG)
Energieeffizienzverordnung vom 1. November 2017 (EnEV)
Detailed requirements
Energieeffizienzverordnung (EnEV), Anhang 2.15
Specialist staff

				



Last modification 15.08.2023