The energy label for windows
Installing energy-efficient windows can reduce a building’s energy consumption, minimise heating costs and greatly enhance comfort. The energy label for windows explains simply and comprehensibly which window systems are the most suitable for keeping heat losses as low as possible. It also informs about potential energy gains thanks to solar irradiation. With windows classified in energy-efficiency category A, energy gains throughout the entire heating period are in fact greater than energy losses.
Documents
Fact sheet
Information brochure "Mehr Komfort, tiefere Energiekosten - Energieetikette für Fenster"
Links
Schweizerischer Fachverband Fenster- und Fassadenbranche (FFF)
Schweizerische Zentrale Fenster und Fassaden (SZFF)
Media
Press releases in German
Specialist staff

				



Last modification 15.09.2023