The energy label for range hoods
This label provides information about the energy efficiency of the declared appliances. When we buy a new small air conditioner, it is not only the purchase price that counts, but also the associated long-term electricity costs. With this label it is possible to identify the most energy-efficient models at a glance.
In addition to the values for the energy efficiency category (A-G) and the annual energy consumption, which are simple to note, further data on luminous efficacy and sound power level, among others, simplify the choice of the most suitable appliance.
Documents
Fact sheet
Enforcement aid for the implementation of regulations governing systems and appliances in accordance with the Federal Energy Efficiency Ordinance
Leaflet
Links
EnergieSchweiz - Informationen zum Kauf und zur Nutzung
Templates for Energy labels
Law
Article 89 of the Swiss Federal Constitution - Energy policy (in German)
Article 44 of the Swiss Federal Energy Act (in German)
Federal Energy Efficiency Ordinance dated 1st November 2017 (EnEV) (in German)
Detailed requirements
Swiss Federal Energy Efficiency Ordinance, Appendix 1.7 (in German)
Commission Delegated Regulation (EU) No. 65/2014 of 1 October 2013
Commission Regulation (EU) No. 66/2014 of 14 January 2014
Specialist staff

				



Last modification 15.05.2020